@model List<MusicStoreV4.Models.Album>

@{
    ViewBag.Title = "Music Store Home Page";
}

<div id="home-showcase">
    <img src="~/Images/home-showcase.png" />
</div>
<ul class="album-list">
    @foreach (var album in Model)
    {
        <li><a href="@Url.Action("AddItem", "ShoppingCart", new { id = album.AlbumId })">
            <img src="@album.AlbumArtUrl" /><br />
            <span>@album.Title</span>
        </a></li>
    }
</ul>
